@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("images/city.png");
  font-family: "Nunito Sans", sans-serif;
}

h1 {
  font-size: 2rem;
  margin-top: 20px;
  font-weight: 700;
  line-height: 28px;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: white;
}
div .row .col {
  border-radius: 10px;
  padding-top: 10px;
}

small {
  margin-top: 5px;
  font-size: 80%;
  font-style: italic;
}
.main-wrapper {
  background: inherit;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  margin-top: 100px;
  padding-top: 50px;
  width: auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
.main-card {
  margin-top: 50px;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 1rem;
}

.main-search {
  border-radius: 4px;
  border: none;
  width: 50%;
}
.search-button {
  border: none;
  border-radius: 4px;
  background: white;
}

.main-icon {
  display: block;
  margin: 10px;
  font-size: 2rem;
  color: rgb(255, 255, 255);
}

.font-icon {
  display: block;
  margin: 8px;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

.container {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-blur {
  background: inherit;
  background: rgba(192, 121, 177, 0.267);
  backdrop-filter: blur(2px);
}
.card-blur:hover {
  transition: all 0.5s ease-out;
  background-color: rgba(255, 255, 255, 0.185);
}
.units {
  top: -13px;
  position: relative;
  font-size: 0.8rem;
}

#current-temp,
#description {
  margin-top: 5px;
  line-height: 20px;
  text-transform: capitalize;
  font-size: 1rem;
}
#current-temp {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
}
